<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card col-10 my-3 anton light-border verylight-background" style="padding: 0;">
            <div class="card-header rounded-0 bright-words verydark-background" style="font-size: 1.25rem;">
                Create New Post</div>
            <div class="card-body">
                <form style="margin-bottom: 0;">
                    <div class="mb-3">
                        <label for="yourTitle" class="form-label dark-words">Title</label>
                        <input type="text" class="form-control" id="yourTitle"></input>
                    </div>
                    <div class="mb-3">
                        <label for="yourContent" class="form-label dark-words">Content</label>
                        <textarea class="form-control" id="yourContent" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn bright-background verydark-words"
                        style="width: 100%;">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>