{{#if logged_in}}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card col-10 my-3 anton light-border verylight-background" style="padding: 0;">
            <div class="card-header rounded-0 bright-words verydark-background" style="font-size: 1.25rem;">
                Create New Post</div>
            <div class="card-body">
                <form class="newPost" style="margin-bottom: 0;">
                    <div class="mb-3">
                        <label for="yourTitle" class="form-label dark-words">Title</label>
                        <input type="text" class="form-control" id="yourTitle"></input>
                    </div>
                    <div class="mb-3">
                        <label for="yourContent" class="form-label dark-words">Content</label>
                        <textarea class="form-control" id="yourContent" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn bright-background verydark-words"
                        style="width: 100%;">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card my-5 anton verydark-words bright-border verylight-background" style="padding: 0;">
            <div class="card-body">
                <div class="form-text">
                    To view this page, please Login
                    <a class="light-words" href="login">here!</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if logged_in}}
<script src="./js/post.js"></script>
{{/if}}