<div class="container-fluid">
    <div class="row justify-content-center">
        <ul class="list-group col-10 mt-3 mb-3">
            <li
                class="list-group-item d-flex justify-content-between align-items-center rounded my-2 anton bright-border verylight-background dark-words">
                An item
                <span class="light-words">Date</span>
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-center rounded my-2 anton bright-border verylight-background dark-words">
                An item
                <span class="light-words">Date</span>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <button type="button" class="btn btn-lg mb-3 px- anton light-background verydark-words"><i
                class="fa-solid fa-plus"></i> New Post</button>
    </div>
</div>