{{!-- CREATE --}}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card col-10 my-3 anton light-border verylight-background" style="padding: 0;">
            <div class="card-header rounded-0 bright-words verydark-background" style="font-size: 1.25rem;">
                Create New Post</div>
            <div class="card-body">
                <form style="margin-bottom: 0;">
                    <div class="mb-3">
                        <label for="yourTitle" class="form-label dark-words">Title</label>
                        <input type="text" class="form-control" id="yourTitle"></input>
                    </div>
                    <div class="mb-3">
                        <label for="yourContent" class="form-label dark-words">Content</label>
                        <textarea class="form-control" id="yourContent" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn bright-background verydark-words"
                        style="width: 100%;">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{!-- POSTS --}}
<div class="container-fluid">
    <div class="row justify-content-center">
        <ul class="list-group col-10 mt-3 mb-3">
            <li
                class="list-group-item d-flex justify-content-between align-items-center rounded my-2 anton bright-border verylight-background dark-words">
                An item
                <span class="light-words">Date</span>
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-center rounded my-2 anton bright-border verylight-background dark-words">
                An item
                <span class="light-words">Date</span>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <button type="button" class="btn btn-lg mb-3 px- anton light-background verydark-words"><i
                class="fa-solid fa-plus"></i> New Post</button>
    </div>
</div>

{{!-- UPDATE POST --}}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card col-10 my-3 anton light-border verylight-background" style="padding: 0;">
            <div class="card-header rounded-0 bright-words verydark-background" style="font-size: 1.25rem;">
                Edit Post</div>
            <div class="card-body">
                <form style="margin-bottom: 0;">
                    <div class="mb-3">
                        <label for="yourTitle" class="form-label dark-words">Title</label>
                        <input type="text" class="form-control" id="yourTitle"></input>
                    </div>
                    <div class="mb-3">
                        <label for="yourContent" class="form-label dark-words">Content</label>
                        <textarea class="form-control" id="yourContent" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn mb-1 verydark-background bright-words" style="width: 100%;">Update
                        Post</button>
                    <button type="submit" class="btn mt-1 verydark-background bright-words"
                        style="width: 100%;">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>