<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card col-6 my-3 anton bright-words light-border verylight-background" style="padding: 0;">
            <div class="card-header rounded-0 verydark-background" style="font-size: 1.25rem;">Sign Up</div>
            <div class="card-body">
                <form style="margin-bottom: 0;">
                    <div class="mb-3">
                        <label for="signupUsername" class="form-label">Username</label>
                        <input type="text" class="form-control" id="signupUsername"></input>
                    </div>
                    <div class="mb-3">
                        <label for="signupPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="signupPassword"></input>
                    </div>
                    <button type="submit" class="btn verydark-background bright-words">Signup!</button>
                    <div class="form-text mt-4">
                        Already have an account? Login
                        <a class="light-words" href="login">here.</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>