<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card col-10 my-3 anton light-border verylight-background" style="padding: 0;">
            <div class="card-header rounded-0 bright-words verydark-background" style="font-size: 1.25rem; font-weight: bolder;">
                Edit Post</div>
            <div class="card-body">
                <form style="margin-bottom: 0;">
                    <div class="mb-3">
                        <label for="title" class="form-label dark-words">Title</label>
                        <input type="text" class="form-control" id="title" value="{{post_title}}"></input>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label dark-words">Content</label>
                        <textarea class="form-control" id="content" rows="3">{{post_content}}</textarea>
                    </div>
                    <button type="submit" class="update btn mb-1 verydark-background bright-words"
                        style="width: 100%;">Update
                        Post</button>
                    <button type="button" class="delete btn mt-1 verydark-background bright-words"
                        style="width: 100%;">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/update.js"></script>